#################
## Misc
#################
**/.DS_Store
nbproject
manifest.mf
build.xml
node_modules/*
npm-debug.log
coverage
*.js
!karma.conf.js
!webpack.test.js
!webpack.config.js
!helpers.js
!spec-bundle.js
*.map
*.d.ts
typings
dist
*.metadata.js

#################
## JetBrains
#################
.idea
.project
.settings
.idea/*
*.iml

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

############
## Mac
############

# Mac crap
.DS_Store
.vscode
yarn-error.log
