language: node_js
node_js:
  - 14

cache:
  yarn: true

script:
  - yarn lint
  - yarn test:ci
  - yarn build

after_success:
  - bash <(curl -s https://codecov.io/bash)

jobs:
  include:
    - stage: release
      node_js: 14
      script:
        - yarn build
        - yarn semantic-release
    - stage: deploy
      node_js: 14
      script:
        - yarn ghpages
      deploy:
        provider: pages
        skip_cleanup: true
        local_dir: dist
        github_token: $GH_TOKEN
        on:
          branch: master

notifications:
  email: false
