sudo: false
dist: trusty
language: node_js
node_js: 8
branches:
  except:
    - "/^v\\d+\\.\\d+\\.\\d+$/"
addons:
  chrome: stable
cache:
  yarn: true
script:
  - yarn lint
  - yarn test:ci
after_success:
  - npm run travis-deploy-once "npm run semantic-release"
  - yarn ghpages
deploy:
  provider: pages
  edge:
    branch: pages-ivar-set
  skip_cleanup: true
  local_dir: dist
  github_token: $GH_TOKEN
  on:
    branch: master
notifications:
  email: false
