<app-navbar></app-navbar>
<div class="jumbotron">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-11 col-lg-8 col-xl-7">
        <div class="float-md-left text-center pr-3">
          <img class="logo" src="/assets/angulartics.png" alt="logo" />
        </div>
        <div class="ml-md-3 py-2 d-md-inline-block text-center text-md-left">
          <h1 class="display-4">Angulartics 2</h1>
          <p class="lead">Omnichannel Analytics for Angular</p>
          <p class="lead">
            <a class="btn btn-light" href="#" role="button">Get Started</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
