<app-navbar></app-navbar>
<div class="jumbotron">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-4 col-lg-3 col-xl-3 text-center">
        <img class="logo img-fluid" src="assets/angulartics.png" alt="logo" />
      </div>
      <div class="col-12 col-md-6 col-lg-5 col-xl-4">
        <div class="ml-md-3 py-2 d-md-inline-block text-center text-md-left mt-md-3 mt-xl-4">
          <h1 class="display-4">Angulartics 2</h1>
          <p class="lead">Omnichannel Analytics for Angular</p>
          <p class="lead">
            <a class="btn btn-light" href="#getting-started" role="button">Get Started</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<section id="providers" scrollby-offset="20%">
  <app-providers></app-providers>
</section>
